# Visual Studio
.vs/
bin/
obj/

# Node
node_modules/
dist/

# Logs
*.log

# Environment
.env

# User files
*.user
*.suo

# Publish
publish/

# Database Backups
*.bak

# Windows
Thumbs.db

# Mac
.DS_Store

# Backend secrets
backend/SocietyManagementAPI/appsettings.json
backend/SocietyManagementAPI/appsettings.Development.json